<div id="admin-navbar">
    <a href="/admin/admin">Admin</a>
    <a href="/admin/orders">Orders</a>
    <a href="/admin/products">Products</a>
    <a href="/admin/categories">Categories</a>
    <a href="/admin/accounts">Accounts</a>
    <a href="/admin/store">Store</a>
</div>