<footer>
    <div class="column">
        <h3>Memphis & Ivy</h3>
        <a>Contact us</a><br>
        <a href="/about">About</a><br>
    </div>
    <div class="column">
        <h3>Information</h3>
        <a href="/information/terms">Terms and conditions</a><br>
        <a>Delivery and tracking</a><br>
        <a href="/information/privacy">Privacy</a><br>
    </div>
    <div class="column">
        <h3>Get in touch</h3>
        <a>memphisandivy@outlook.com</a><br>
    </div>
</footer>